In [ ]:
#Lets get started with hands on session regarding Pandas libraries in Python

In [ ]:
import pandas as pd

In [ ]:
#creating series
test=pd.Series()

In [ ]:
#creating series from a list
a=["Aadi","Dev"]
test_ser=pd.Series(a)
test_ser

d={'Aadi':'22BEC0251','Dev':'22BCT0453'}
test_ser=pd.Series(d)
test_ser

In [ ]:
b=[1.2,2.34]
ser2=pd.Series(b)
ser2

In [ ]:
#indexing elements of a series 
b=pd.Series(['Aaditya','Dev','Varun'],index=['22BEC0251','22BEC0002','21BCE0045'])
c=pd.Series([1,2,3])
c.index=['first','second','third']
c

In [ ]:
#from here on we will be using a sample csv file to perform series as well as data frame operations

data=pd.read_csv('./nba (1).csv',index_col="Name")
data.tail()

In [ ]:
data.dropna(inplace=True)
data.tail()

In [ ]:
data["Salary"]=data["Salary"].astype(str)
data["Salary(int)"]=data["Salary"].str.slice(0,-2,1)
data.head(10)

In [ ]:
#slicing series
data.dropna(inplace = True)  #dropping null values
# converting to string data type 
data["Salary"]= data["Salary"].astype(str) 
  
# slicing till 2nd last element 
data["Salary (int)"]= data["Salary"].str.slice(0,-2,1)  
data.head(10)

In [ ]:
data={'b':'MUFC','c':'MCFC','a':'LFC'}
s1=pd.Series(data)
sorted_s1=s1.sort_index()
sorted_s1

In [ ]:
newdata={'MUFC':1,'LFC':3,'MCFC':2}
s2=pd.Series(newdata)
sorted_s2=s2.sort_values()
sorted_s2

In [ ]:
#sorting series
# (i) by index
data = {'b': 1, 'a': 2, 'c': 3}# Create a sample Series
series = pd.Series(data)

# Sort the index in ascending order
sorted_series = series.sort_index()
sorted_series

In [ ]:
#sorting by values
sorted_series = series.sort_values()
sorted_series
#for descending
#sorted_series_desc = series.sort_values(ascending=False)
#print(sorted_series_desc)

In [ ]:
#DATA FRAMES

In [ ]:
#creating data frames
lst=["A","B","C"]
df=pd.DataFrame(lst)
df

In [ ]:
data={'NAME':['AADITYA VS','VARUN SUDHIR','DEV KESHWANI','SAI SAHITH'],'Age':[19,20,20,21]}
df=pd.DataFrame(data)
df
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],'degree': ["MBA", "BCA", "M.Tech", "MBA"],'score':[90, 40, 80, 98]}
df = pd.DataFrame(dict)
df

In [ ]:
#data viewing in dataFrames
data=pd.read_csv('./nba (1).csv')

In [ ]:
data.describe().transpose()

In [ ]:
data.info()

In [ ]:
rows=['KANKDNZ','poNDKNSND']
columns=['asas','asas']

In [ ]:
#viewing data frames
data.head()
data.tail()
data.describe()

#getting info on data
data.info()

In [ ]:
#adding columns in data frames
data['newSalary']=0
data

In [ ]:
#dropping columns
data.drop(["Number"],axis=1,inplace=True)
data

In [ ]:
data.drop(["R.J. Hunter"],axis=0,inplace=True)
data

In [ ]:
print(data) #the columns mentioned have been dropped

In [ ]:
data

In [ ]:
#selection,slicing of rows
first=data.iloc[0]
#selecting multiple rows
first = data.iloc[[0,1]] 
print(first)
#selecting multiple rows and columns
first = data.loc[["Avery Bradley", "R.J. Hunter"], ["Team", "Number", "Position"]]
#print()

In [ ]:
sampdata=pd.read_csv("./nba (1).csv",index_col="Name")
sampdata

In [ ]:
#s=sampdata.iloc["Avery Bradley"] try running this. you will get error. now change the indexing to integer.
print(s) #this shows the difference between iloc and loc function in selecting rows in data frames

In [ ]:
import pandas as pd

a=[1,2,3,4]
b=[3,4,5]
df1=pd.DataFrame(a)
df2=pd.DataFrame(b)
df1+df2
df1-df2
df1/df2
#df1=pd.DataFrame(a,index=['a','b','c'])
#df2=pd.DataFrame(b,index=['d','e','f'])
#df1+df2